.blog {
    overflow: hidden;
}

.blog img {
    width: 100%;
    height: 230px;
    overflow: hidden;
    transition: all 1s ease;
}

.blog:hover img {
    overflow: hidden;
    transform: scale(1.3);
}

/* 
@media (min-width: 320px) and (max-width: 1240px) {
    .blog {
        flex-wrap: wrap;
    }
} */